

#gameBoard{
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid #7f5538;
  background-color: #7f5538;


}

#gameBoard div {   /* it will style all divs inside #gameBoard */
text-align: center;
}

.noBomb {
  width: 50px;
  height: 50px;
  background-color: #e79c67;
  border: 5px solid;
  box-sizing: border-box;
  border-color: #d78e5b #bc7c4f #bc7c4f #f7af7d;
  cursor: pointer;
}

.bomb {
  width: 50px;
  height: 50px;
  background-color: #e79c67;
  border: 5px solid;
  box-sizing: border-box;
  border-color: #d78e5b #bc7c4f #bc7c4f #f7af7d;
  cursor: pointer;
}

.checked {
  width: 50px;
  height: 50px;
  background-color: #c8a48a;
  border: 2px solid;
  box-sizing: border-box;
  border-color: #7f5538;
  font-size: 35px;
  color: white;
}

#container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.secondBoard {
  position: relative;
  background-color:grey;
  opacity: 0.6;
  bottom: 500px;
  width: 500px;
  height: 500px;
}

.secondBoard:hover {
  background-color: black;
}

.playAgain {
  position: absolute;
  width: 200px;
  height: 80px;
  background-color: white;
  margin-top: 200px;
  margin-left: 150px;
  border: 3px solid black;
  justify-content: center;
  text-align: center;
  font-size: 32px;
}

.playAgain:hover {
  background-color: black;
  border-color: white;
  color: white;
  cursor: pointer;
}

[one] {
  color: blue;
}

[two] {
 color: green;
}

[three] {
  color: red;
 }

 [four] {
  color: purple;
 }

 