* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;

}

#root {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #bab8b8; ;
  
}

.Minesweeper {
  box-sizing: unset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  height: 1000px;
}

.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid;
  border-color: #d78e5b #bc7c4f #bc7c4f #f7af7d;
  background-color: #e79c67;
  cursor: pointer;
}

.square:hover {
  transition: 0.1s;
  border-color: #d8a27c #c08d69 #b97d52 #f5bf9a;
  background-color: #e7ae86;
}

.square-disabled {
  width: 100px;
  height: 100px;
  display: flex;
  box-sizing: border-box;
  border: 6px solid #976f52;
  background: #aa8d77;
}
